body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Create a flex container to split the screen horizontally */
.split-container {
    display: flex;
}

.container {
    flex:1;
    background:white;
    /*background: linear-gradient(to bottom,  #4CAF50, #087f23);*/
}

.left-half {
    flex: 0;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: top;
    margin-top: 120px;
    margin-left: 5%;
}

.vid {
    flex: 0;
    margin-left:2%;
    margin-top: -20px ;

}

.register{
    margin-left: 190px;
}
form {
    width: 240px;
    margin: 20px auto;
}

input {
    display: block;
    padding: 2px 2px;
    font-size: 1.5em;
    margin: 8px auto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #ccc;
    outline: none !important;
}

.formBox{
    background-color: aquamarine;
    margin-top: 20px;
    margin-left: 8%; 
    padding: 10px;
    border-radius: 60px;
    width: 55%; /* Adjust the width as needed */
    max-height: 96vh;
    max-width: 120ch;
}
.top {
    text-align: center;
    background: #4196E3;
    padding: 20px;
    border-radius: 50px;
    margin-top: -45px;
}

.bottom {
    text-align: center;
    color: #FFFFFF;
}

.text-title {
    font-size: 33px;
    margin: 0;
}

.icon {
    max-height: 110%;
    width: auto;
}

.slogan {
    width: 75%;
    margin: 0 auto;
}

.button-container {
    margin-top: 150px;
}

.button {
    background: rgba(27, 28, 30, 0.77);
    border: 1px solid #FFFFFF80;
    padding: 20px;
    border-radius: 70px;
    color: #FFFFFF;
    cursor: pointer;
}

.link {
    color: #F50E19;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
